
<form [formGroup]="fg" (ngSubmit)="guardar(fg.controls['ciudad'].value, fg.controls['precio'].value)">
	<div class="form-group">
		<label for="destino">Destino</label>
		<input type="text" class="form-control" id="destino" placeholder="Ingresar ciudad" 
		[formControlName]="'ciudad'">
		<div *ngIf="fg.controls['ciudad'].hasError('required')">Nombre requerido</div>
		<div *ngIf="fg.controls['ciudad'].hasError('nombreInvalido')">Nombre inválido</div>
		<div *ngIf="fg.controls['ciudad'].hasError('minLargoNombre')">Debe ingresar 3 carácteres como mínimo</div>
	</div>
				
	<div class="form-group mt-2">
		<label for="precio">Precio</label>
		<input type="text" class="form-control" id="precio" placeholder="Ingresar precio" 
		[formControlName]="'precio'">
		<small class="form-text text-muted">Precios en dólares</small>
		<small *ngIf="fg.controls['precio'].hasError('required')">Nombre requerido</small>
	</div>
	<button type="submit" class="btn btn-primary mt-2">Guardar</button>
</form>
