
<div class="container content">
	<div class="row">
		<div class="col-md-6 offset-md-3">
			
			<div class="form-field">
				<app-form-destino-viaje (onItemAdded)="agregado($event)"></app-form-destino-viaje>
			</div>

		</div>
	</div>
	<hr class="mb-3">
	<div class="row row-flex">

		<app-destino-viaje 
			*ngFor="let x of all; let i=index"
		 	[destino]="x"
		 	[idx]="i" 
		 	(clicked)="elegido($event)"
		 	appEspiame>
		 </app-destino-viaje>
	
	</div>

	<hr class="mb-3">
	<h5>Actividades</h5>
	<div class="row row-flex">
		<ul>
			<li *ngFor="let x of updates" > {{x}} </li>
		</ul>
	</div>
</div>
