

<div class="card mb-3" style="width: 17rem;" [@esFavorito]="destino.isSelected() ? 'estadoFavorito' : 'estadoNoFavorito'">
	<img class="card-img-top" src="http://lorempixel.com/250/250/city" alt="foto de ciudad">
	<span class="precio">U$D {{destino.precio}}</span>
	<span class="posicion"> {{position}} </span>
	<div class="card-body">
		<h5 class="card-tittle"> {{destino.ciudad}} </h5>
		<div class="card-text">
			<h5>Servicios</h5>
			<ul>
				<li *ngFor="let x of destino.servicios">
					<span [ngSwitch]="x">
						<i *ngSwitchCase="'Desayuno'" style="color: red;"> {{x}} </i>
						<i *ngSwitchDefault> {{x}} </i>
					</span>
				</li>
			</ul>
		<div>
			<a href="#" (click)="voteUp()" appTrackearClick data-trackear-tags="destino_vote_up lista_destinos_item"> 
				<i class="material-icons md-18"> thumb_up </i> 
			</a>
			<a href="#" (click)="voteDown()" appTrackearClick data-trackear-tags="destino_vote_down lista_destinos_item">
				<i class="material-icons md-18"> thumb_down </i> 
			</a>
			<div> {{destino.votes}} </div>
		</div>
		<button class="btn btn-primary" (click)="ir()" appTrackearClick data-trackear-tags="destino_elegir_preferido lista_destinos_item">
			Favorito
		</button>
		<span *ngIf="destino.isSelected()">
			<span ngNonBindable> {{Preferido}} </span>
		</span>
		<a [routerLink]="['/destino']">Detalle</a>
	</div>
</div>