/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~mapbox-gl/dist/mapbox-gl.css";
@import "~@mapbox/mapbox-gl-geocoder/lib/mapbox-gl-geocoder.css";

body{
	min-height: 100vh;
	background-color: #fcfcfa;
}

.form-field{
	background-color: #f7f7f9;
	padding: 1rem;
	margin: 1rem -15px 0;
	border: 0.2rem solid #e9e9eb;
}

.precio{
	position: absolute;
	top: 0;
}

.precio{
	background-color: #333;
	color: #fff;
	border-radius: 3px;
	padding: 2px;
}

header{
	background-color: #999;
	color: white;
	height: 0.28hv;
	text-align: center;
}
