
<header>
	<div style="float: right;">
	    <select (change)="translate.use($event.target.value)">
	      <option value="es">Español</option>
	      <option value="fr">France</option>
	      <option value="en">English</option>
	    </select>
  	</div>

	<div class="container">
		<h1>Agencia de viajes</h1>
		<div class="navlinks">
			<a [routerLink]="['/home']" routerLinkActive="active">Home</a>
			<a [routerLink]="['/destino']" routerLinkActive="active">Destino</a>
		</div>
	</div>

</header>

<div class="container content">
  <div class="row">
    <h1>
      {{ title }} <b [innerHTML]="'HOLA' | translate"></b>
    </h1>
  </div>

  <router-outlet></router-outlet>
</div>

