<p>reservas-listado works!</p>

<a href="#" [routerLink]="['./',10]">Ir a detalle</a> |
<a href="#" [routerLink]="['/login']">Ir a login</a>

<div *ngFor="let reserva of api.getAll()">
	{{reserva.id}} - {{reserva.name}}
</div>